.order-status-container {
  z-index: 3;
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-evenly;
  align-items: center;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  position: relative;
}

.status-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  padding-top: 20px;
}

.status-item > div {
  margin: 8px;
}

.status-circle {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid #665cf5;
  z-index: 5;
  transition: all 0.2s;
  cursor: pointer;
}

.status-circle:hover {
  transform: scale(1.2);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.status-text {
  font-size: 0.8rem;
  font-weight: 500;
}

.status-text span {
  display: block;
  text-align: center;
  padding: 2px;
}

.green {
  color: #338a9a;
}
.status-item:first-child::before {
  content: "";
  height: 4px;
  width: 104px;
  background-color: #5858ef;
  position: absolute;
  z-index: 4;
  top: 37px;
  left: 189px;
}

.status-item::before {
  content: "";
  height: 4px;
  width: 228px;
  background-color: #5858ef;
  position: absolute;
  z-index: 4;
  top: 37px;
  opacity: 0.2;
  --webkit-transition: all 0.2s linear;
  --moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.status-item:last-child::before {
  content: "";
  height: 4px;
  width: 117px;
  background-color: #5858ef;
  position: absolute;
  z-index: 4;
  top: 37px;
  opacity: 0.2;
  right: 191px;
}

.status-item.cancel::before {
  background-color: #ff0000 !important;
  width: 229px !important;
}
.status-circle.cancel {
  border: 5px solid #ff0000 !important;
}

.status-item.active::before {
  opacity: 1;
}
